.header {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.image-table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  // border: 1px solid #61bddb;
}

.seat {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ad9090;
}

.seat-reserved {
  background-color: #ad9090;
}