.card {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(245, 179, 179);
  padding-bottom: 1rem;
}

.cardLeft {
  width: 20%;
}

.cardLeft img {
  width: 100%;
  border-radius: 5px;
}

.cardRight {
  width: 80%;
  padding: 0 1rem;
}
